<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<ul>
    <% for(var i = 0; i < files.length; i++) { %>
        <li><a href="/downloads/<%= files[i] %>" target="_blank"><%= files[i] %></a></li>
    <% } %>
</ul>
</body>
</html>
